{% extends "base.html" %}

{% block content %}
<div class="container text-center py-2">
    <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <h1>Loading...</h1>
</div>

{% endblock content %}