:root {
    --main-color: #fc5200;
}

.bg-main {
    background-color: var(--main-color);
}

.activity-cards {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: var(--breakpoint-md)){
        flex-direction: row;
    }
}