{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Activities</h1>
{% comment %} {% if object.activities|length > 0 %} {% endcomment %}
<div class="activity-cards">
{% for activity in object  %}
<div class="card" style="min-width: 18rem;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body d-flex-column">
        <h5 class="card-title">{{ activity.name }}</h5>
        <p class="card-text">{{ activity.start_date_local }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}
</div>
{% comment %} {% else %} {% endcomment %}
    <p>No activities to show...</p>
{% comment %} {% endif %} {% endcomment %}
</div>
{% endblock content %}