{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Welcome to the Strava Activity Corrector</h1>

<ol>
<li><a href="{{ authorization_url }}">Connect your Strava Account</a></li>
<li>Select an Activity</li>
<li>Allow the algorithm to determine if there are any corrections that need to be made</li>
<li>Go through the corrections</li>
<li>Save the updated activity</li>
</ol>
</div>
{% endblock content %}
